@*/* Christopher Hurley
 * ITSE 1430
 * Lab 5
 * 4 May, 2018
 */*@
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Welcome to MovieLib Web</h2>
</div>

<div class="row">
    <div>Christopher Hurley</div>
    <div>ITSE 1430</div>
</div>